/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup: post.html
//
// Style guide: 6.post

.post {

  @include clearfix();

  position: relative;

  margin-bottom: $unit-xl;
  padding-bottom: $unit-xl;

  &:after,
  &:before {

    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    margin-left: 0 - 40px;

    display: block;
    height: 1px;
    background-color: $color-border-normal;

    content: ""

  }

  &:before {

    transform: skewY(10deg)

  }

  &:after {

    transform: skewY(-10deg)

  }

}

.entry-header {}

.entry-content {

  @include clearfix();

}

.entry-title {

  font-size: ms(4);
  line-height: ms(0, 1.125);
  letter-spacing: -.025em;

  margin-bottom: $unit-default;

  a {

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

    }

  }

}

.entry-meta {

  margin-bottom: $unit-s;

  font-family: $font-headline;
  color: $color-text-weak;
  text-transform: uppercase;
  letter-spacing: -.025em;

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

  .updated {

    display: none;

  }

  .published {

    display: inline;

  }

}

.entry-footer {

  margin-bottom: $unit-default;

  font-family: $font-headline;
  @include font-size(16);
  line-height: em(24,16);
  color: $color-text-weak;
  letter-spacing: -.025em;

  > :after {

    content: " | ";

  }

  > :last-child {

    &:after {

      content: "";

    }

  }

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

}