/* =Horizontal rule
===================================================== */

// Horizontal rule
//
// Horizontal rule example
//
// Markup:
// <hr>
//
// Style guide: 4.hr

hr {

  margin: $unit-default auto;
  padding: 0;
  border: 0;
  border-top: 4px solid $color-grey-10;
  width: 60px;

}