/* =Experimental
===================================================== */

.content-widgets {

	margin-bottom: $unit-l;

}

.contact-form {

	border-radius: $border-radius-small;
	background-color: $color-grey-10;
	padding: $unit-m;

}