/* =Experimental
===================================================== */

.content-widgets {

  margin-bottom: $unit-l;

}

.contact-form {

  border-radius: $border-radius-small;
  background-color: $color-grey-10;
  padding: $unit-m;

  label {

    font-family: $font-headline;
    font-size: ms(0, 16px);
    line-height: ms(0, 24px);

  }

  label.checkbox,
  label.radio {

  }

  textarea,
  input[type=email],
  input[type=text] {

    width: 100%;

  }

}

.contact-submit input[type="submit"] {

  color: $color-text-strong-invert;
  background-color: $color-button-primary;

  &:hover,
  &:focus,
  &:active {

    color: $color-text-strong-invert;
    background-color: $color-button-primary-hover;

  }

}

